.chart{
    flex: 5;
    box-shadow: rgba(78, 78, 78, 0.35) 0px 5px 15px;
    padding: 10px;
    color: gray;

    .title{
        margin-bottom: 20px;
    }

    .chartGrid{
        stroke: rgb(228, 225, 225);
    }
}