.reg {
    display: flex;
    .regContainer{
      flex: 6;
  
      .listContainer{
        box-shadow: rgba(78, 78, 78, 0.35) 0px 5px 15px;
        padding: 20px;
        margin: 20px;
  
        .listTitle{
          font-weight: 500;
          color: gray;
          margin-bottom: 15px;
        }
      }
    }
  }
  