.stats {
  display: flex;
  width: 100%;
  .statsContainer {
    flex: 6;

    .top {
      .title {
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        padding-top: 10px;
        color: gray;
      }
    }

    .middle{
        display: flex;
        padding-top: 20px;
        gap: 2rem;

        .left{
            flex: 5;
        }

        .right{
            flex: 6;
        }
    }
  }
}
